GnuPGInterface==0.3.2
apt-xapian-index==0.45
arandr==0.1.6
argparse==1.2.1
chardet==2.0.1
defer==1.0.6
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
matplotlib==1.1.1
numpy==1.6.2
obMenu==1.0
paramiko==1.7.7.1
pycrypto==2.6
pycurl==7.19.0
python-apt==0.8.4
python-debian==0.1.21
python-xlib==0.14
pyxdg==0.19
requests==1.0.4
rpl==1.5.5
termcolor==1.1.0
unattended-upgrades==0.1
virtualenv==1.8.4
winpdb==1.4.8
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
